.banniere {
    text-align: center;
    background-image: url(../../backend/images/vcam_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 0;
    min-width: 250px;
}

.card-img-top {
    height: 184px;
    object-fit: cover;
}

#listeArticle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


@media screen and (max-width: 576px) {
    .apercu {
      display: none;
    }
  }

.alert{
    display: none;
}

